/* soft reset do css */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
 /*page one*/
 body {
        font-family: 'Roboto';
}
    /* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration: none;
}
strong {
	font-weight: bold;
}

#logo{
    height: 164px;
   }
   h1 {
    width: 635px;
    height: 186px;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 82px;
    color: #C59CD8;

}
.box-conteudo, .box-imagem {
    width: 45%;
    float: right;
}
.box-texto, .box-logo {
    width: 100%;
}
.box-logo {
    width: 219px;
}

.box-logo img {
    width: 100%;
}

.box-conteudo {
    padding-left: 3%;
    float: left;
    margin-bottom: 15px;
}
footer{
    background-color: #C59CD8;
    padding: 40px 70px;

}
 footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
    }
footer::after{
        content: "";
        display: block;
        clear: both;
    }

footer ul > li {
    display: inline-block;
    margin-left: 30px;
}
footer ul > li:first-child{
    border-right: 2px solid #ffffff;
    margin-left: 0;
    padding-right: 35px;
}
.clear {
    clear: both;
}
.box-imagem img {
    width: 100%;
}
p.data-evento {
    color: #815e91;
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: x-large;
}
a.botao-acessar {
    background-color: #1BA5B0;
    display: block;
    padding: 20px 25px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-size: 29px;
}

/* Contador */


.texto-contador {
    font: 16px/1.4 ;  
    max-width: 1200px;  
    margin: 0 auto;
    padding: 20px;
  }
.card{
    border-radius: 15px;
    border: none;
}

.numero
{
background-color: #efefef;
color: #000000;
font-size: 40px;
margin: 5px;
text-align: center;
border-radius: 15px;
}

.card-text{
    text-align: center;
    margin-top: -15px;
}

.box-contador .row {
    margin: 30px 0;
}
.texto-contador {
    font-size: calc(16px + (8/1200) * 100 * 1vw);
    margin-top: 60px;
}

@media screen and (max-width: 576px) {
    .box-conteudo {
        padding-left: 0;
        float: none;
        width: auto;
    }
    h1 {
        width: auto;
        font-size: 33px;
        line-height: 37px;
        color: #C59CD8;
        height: auto;
        margin-bottom: 18px;
        text-align: center;
    }
    .box-imagem {
        display: none;
    }
    .box-logo {
         margin: 0 auto;
    }
    .box-principal {
        padding: 0 4%;
    }
    .box-texto{
        background-image: url(../img/Vector.png);
        background-repeat: no-repeat;
        background-position: 0 0;
            padding: 0 2%;
            width: 96%;

    }
    p {
        padding: 15px;
        text-align: center;
    }
}
  